*{
	margin: 0;
    padding: 0;
    font-family: "rockwell";
}


body{
    background-color: black;
	position: absolute;

	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 150% ;

	grid-template-areas:
		"head"
		"cont";
		

}


header#header{

	grid-area: head;

	background-color: #282828;

	display: grid;

	grid-gap: 0px 1%;

	grid-template-columns: 6% 15% 15% 15% auto 5%;
	grid-template-rows: 100%;
	grid-template-areas:
		"logo header-item-01 header-item-02 header-item-03 search-area option-button";
}


img.logo{

	grid-area: logo;

	height: 100%;
	width: auto;
}


img.logo:hover{

	cursor: pointer;

	background-color: #74BBFB;

	border-radius: 20px;
}


a#header-item-01{

	grid-area: header-item-01;

}


a#header-item-02{
	
	grid-area: header-item-02;

}


a#header-item-03{
	
	grid-area: header-item-03;

}


a.header-items{
    display: flex;
    justify-content: center;
    align-items: center;
	color: white;
	text-decoration: none;
 	font-size: 1em;
 	text-align: center;
 	font-family: "rockwell";


   	line-height: 280%;
}


a.header-items:hover{


	background-color: #74BBFB;
	color: black;
	border-radius: 20px;
	
}


div.search-area{

	grid-area: search-area;

}


div.search-area-2{

	position: relative;

	height: 70%;
	width: 85%;

	top: 15%;
	left: 10%;

	background-color: #DCDCDC;

	border-radius: 30px;

}


input.search-field{

	position: relative;

	border: none;
	background: none;
	outline: none;

	float: left;

	padding: 0;

	color: black;

	font-size: 20px;

	top: 25%;
	left: 3%;

	width: 78%;
}


a.search-button{

	top: 5%;
	right: 2%;

	position: relative;

	color: #74BBFB;
	background-color: black;

	border-radius: 30px;

	float: right;

	height: 90%;
	width: 15%;

	display: flex;

	justify-content: center;
	align-items: center;

	text-decoration: none;
}


a.search-button:hover{

	color: black;
	background-color: #74BBFB;
}


div.option-button{
	grid-area: option-button;
}

.option-button-button{
	top: 5%;
	right: 15%;
	position: relative;
	color: #74BBFB;
	background-color: black;
	border-radius: 30px;
	float: right;
	height: 90%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.option-button-button:hover{
	color: black;
	background-color: #74BBFB;
}

.option-button-button > .sidebar{
    position: absolute;
    display: none;
    background-color: black;
    top:0;
    right: 0;
    width: 500px;
    height: 500px;  
    border: 1px solid white;
    color: white;
    transition: ease-in;
    z-index: 1000;
}


.sidebar > .user-info{
    
    /* width: 100%; */
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    border: 1px solid #282828;
    font-size: 2em;
    display: flex;
}
.sidebar > .user-info > a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.options-sidebar-1{
    display: flex;
    font-size: 2em;
    
    border: 1px solid #282828;
    
}

.options-sidebar-1 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-1:hover{
    background-color: #282828;
}

.options-sidebar-2{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #282828;
    
}

.options-sidebar-2 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-2:hover{
    background-color: #282828;
}

.options-sidebar-3{
    display: none;
    /* width: 100%;
    height: 100%; */
    /* font-size: 2em;
    border: 1px solid #282828;
    padding-left: 1em;
     */
}

.options-sidebar-4{
    display: none;
}

.options-sidebar-3:hover{
    background-color: #282828;
    cursor: pointer;
}

.close > button{
    width: 100%;
    height: 100%;
    color: white;
    background-color:black;
    font-size: 2em;
}
.close>button:hover{
    background-color: #282828;
    cursor: pointer;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: cont;
    background-color: black;
}

.results{
    display: block;
    border: 1px solid #282828;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    margin-top: 10em;
}

.result-1{
    display: flex;
    margin:5px auto 0px auto;
    border: 1px solid #282828;
    width: 95%;
    height: 250px;
    align-items: center;
}

.result-1 > img{
    padding-left: 1em;
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.result-1 > h3{
    text-align: center;
    color: wheat;
}

.result-2{
    display: flex;
    margin:5px auto 0px auto;
    border: 1px solid #282828;
    width: 95%;
    height: 250px;
    align-items: center;
}

.result-2 > img{
    padding-left: 1em;
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.result-2 > h3{
    
    color: wheat;
}

.result-3{
    display: flex;
    margin:5px auto 0px auto;
    border: 1px solid #282828;
    width: 95%;
    height: 250px;
    align-items: center;
}

.result-3 > h3{
    
    color: wheat;
}

.result-3 > img{
    padding-left: 1em;
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.result-3 > h3{
    
    color: wheat;
}

@media(max-width:800px){
    *{
        margin: 0;
        padding: 0;
    }
    
    
    body{
        background-color: black;
        position: absolute;
    
        width: 100%;
        height: 100%;
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 150% ;
    
        grid-template-areas:
            "head"
            "cont";
            
    
    }
    header#header{
        width: 100%;
        grid-area: head;
    
        background-color: #282828;
    
        display: grid;
    
        /* grid-gap: 0px 1%; */
        
        grid-template-columns:  80% 20%;
        grid-template-rows: 100%;
        grid-template-areas:
            "search-area option-button";
    
        /* align-items: center; */
        /* border: solid 1px rgba(11, 123,98,1); */
    }
    .logo{
        display: none;
    }
    img.logo{
        display: none;
        grid-area: logo;
    
        height: 100%;
        width: auto;
    }
    
    img.logo:hover{
    
        cursor: pointer;
    
        background-color: #AAAAAA;
    
        border-radius: 20px;
    }
    
    a#header-item-01{
        display: none;
        grid-area: header-item-01;
    }
    
    a#header-item-02{
        display: none;
        grid-area: header-item-02;
    }
    
    a#header-item-03{
        display: none;
        grid-area: header-item-03;
    }
    
    a.header-items{
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        text-align: center;
        font-family: "rockwell";
        align-self: center;
        line-height: 280%;
    }
    
    a.header-items:hover{
        background-color: #AAAAAA;
        color: black;
        border-radius: 20px;	
    }
    
    div.search-area{
        grid-area: search-area;
    }
    
    div.search-area-2{
        position: relative;
        height: 70%;
        width: 85%;
        top: 15%;
        left: 10%;
        background-color: #DCDCDC;
        border-radius: 30px;
    }
    
    input.search-field{
        position: relative;
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: black;
        font-size: 20px;
        top: 25%;
        left: 3%;
        width: 78%;
    }
    
    a.search-button{
        top: 5%;
        right: 2%;
        position: relative;
        color: #74BBFB;
        background-color: black;
        border-radius: 30px;
        float: right;
        height: 90%;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    a.search-button:hover{
        color: black;
        background-color: #74BBFB;
    }
    
    div.option-button{
        grid-area: option-button;
    }
    
    .option-button-button{
        top: 5%;
        right: 15%;
        position: relative;
        color: #74BBFB;
        background-color: black;
        border-radius: 30px;
        float: right;
        height: 90%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .option-button-button:hover{
        color: black;
        background-color: #74BBFB;
    }
    
    .option-button-button > .sidebar{
        position: absolute;
        display: none;
        background-color: black;
        top:0;
        right: 0;
        width: 300px;
        height: 500px;  
        border: 1px solid white;
        color: white;
        transition: ease-in;
        z-index: 1000;
    }
    
    
    .sidebar > .user-info{
        
        /* width: 100%; */
        /* height: 100%; */
        align-items: center;
        justify-content: center;
        border: 1px solid #282828;
        font-size: 2em;
        display: flex;
    }
    .sidebar > .user-info > a{
        font-size: 2em;
        text-decoration: none;
        color: white;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    .options-sidebar-1{
        display: flex;
        font-size: 2em;
        
        border: 1px solid #282828;
        
    }
    
    .options-sidebar-1 > a{
        text-decoration: none;
        color: white;
        padding-left: 1em;
        width: 100%;
        height: 100%;
    }
    
    .options-sidebar-1:hover{
        background-color: #282828;
    }
    
    .options-sidebar-2{
        display: flex;
        /* width: 100%;
        height: 100%; */
        font-size: 2em;
        border: 1px solid #282828;
        
    }
    
    .options-sidebar-2 > a{
        text-decoration: none;
        color: white;
        padding-left: 1em;
        width: 100%;
        height: 100%;
    }
    
    .options-sidebar-2:hover{
        background-color: #282828;
    }
    
    .options-sidebar-3{
        display: flex;
        /* width: 100%;
        height: 100%; */
        font-size: 2em;
        border: 1px solid #282828;
        padding-left: 1em;
        
    }
    
    .options-sidebar-3:hover{
        background-color: #282828;
        cursor: pointer;
    }
    
    .options-sidebar-4{
        display: flex;
        /* width: 100%;
        height: 100%; */
        font-size: 2em;
        border: 1px solid #282828;
        padding-left: 1em;
    }
    .options-sidebar-4:hover{
        background-color: #282828;
    }   

    .close > button{
        width: 100%;
        height: 100%;
        color: white;
        background-color:black;
        font-size: 2em;
    }
    .close>button:hover{
        background-color: #282828;
        cursor: pointer;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: cont;
        background-color: black;
    }
    
    .results{
        border: 1px solid #282828;
        border-radius: 10px;
        width: 80%;
        height: 180%;
        margin-top: 80em;
    }
    
    .result-1{
        display: flex;
        margin:5px auto 0px auto;
        border: 1px solid #282828;
        width: 95%;
        height: 250px;
        align-items: center;
    }
    
    .result-1 > img{
        padding-left: 1em;
        width: 150px;
        height: 200px;
        border-radius: 10px;
    }
    
    .result-1 > h3{
        text-align: center;
        color: wheat;
    }
    
    .result-2{
        display: flex;
        margin:5px auto 0px auto;
        border: 1px solid #282828;
        width: 95%;
        height: 250px;
        align-items: center;
    }
    
    .result-2 > img{
        padding-left: 1em;
        width: 150px;
        height: 200px;
        border-radius: 10px;
    }
    
    .result-2 > h3{
        
        color: wheat;
    }
    
    .result-3{
        display: flex;
        margin:5px auto 0px auto;
        border: 1px solid #282828;
        width: 95%;
        height: 250px;
        align-items: center;
    }
    
    .result-3 > h3{
        
        color: wheat;
    }
    
    .result-3 > img{
        padding-left: 1em;
        width: 150px;
        height: 200px;
        border-radius: 10px;
    }
    
    .result-3 > h3{
        
        color: wheat;
    }
}