*{
    margin: 0em;
    padding: 0em;
    font-family: "rockwell";
    background-color: black;
}

body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "welcome form";
}

img#welcome{
    border-radius: 1000px;
    width: 50%;
    height: 50%;
    margin-top: 6em;
}

.img-welcome{
    display: flexbox;

    grid-area: welcome;
    background-color: black;
    
    text-align: center;
}

.saudation{
    background-color: #282828;
    margin-top: 1em;
    font-size: 3em;
    color: white;
    
}

.formulario{
    grid-area: form;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
    height: 80vh;
    width: 40vw;
    margin-top: 1em;
    font-size: larger;

}

.login{
    text-align: center;
}
button > a{
    text-decoration: none;
    color: white
}

.input{
    margin-top: 3em;
    background-color: white;
    height: 2em;
    width: 12em;
    border-radius: 100px;
    font-size: 2em;
    text-align: center;

}

button.login{
    margin-top: 2em;
    width: 10em;
    height: 2em;
    border:  1px solid #282828;
    border-radius: 100px;
    font-size: 1em;
    color: whitesmoke;
}

button.login:hover{
    background-color: #282828;
}