*{
	margin: 0;
    padding: 0;
    font-family: "rockwell";
}


body{

	position: absolute;

	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 93% 100% 100%;

	grid-template-areas:
		"head"
		"cont"
		"cont2"
		"cont3";

}


header#header{

	grid-area: head;
    display: flex;

	background-color: #282828;

	display: grid;

	grid-gap: 0px 1%;

	grid-template-columns: 6% 15% 15% 15% auto 5%;
	grid-template-rows: 100%;
	grid-template-areas:
		"logo header-item-01 header-item-02 header-item-03 search-area option-button";
}


img.logo{

	grid-area: logo;

	height: 100%;
	width: auto;
}


img.logo:hover{

	cursor: pointer;

	background-color: #74BBFB;

	border-radius: 20px;
}


a#header-item-01{
    font-size: 1.1em;
	grid-area: header-item-01;

}


a#header-item-02{
	font-size: 1.1em;
	grid-area: header-item-02;

}


a#header-item-03{
	font-size: 1.1em;
	grid-area: header-item-03;

}


a.header-items{
    display: flex;
	color: white;
	text-decoration: none;
 	font-size: 1.1em;
 	text-align: center;
 	font-family: "rockwell";
    align-items: center;
    justify-content: center;

   	line-height: 280%;
}


a.header-items:hover{


	background-color: #74BBFB;
	color: black;
	border-radius: 20px;
	
}


div.search-area{

	grid-area: search-area;

}


div.search-area-2{

	position: relative;

	height: 70%;
	width: 85%;

	top: 15%;
	left: 10%;

	background-color: #DCDCDC;

	border-radius: 30px;

}


input.search-field{

	position: relative;

	border: none;
	background: none;
	outline: none;

	float: left;

	padding: 0;

	color: black;

	font-size: 20px;

	top: 25%;
	left: 3%;

	width: 78%;
}


a.search-button{

	top: 5%;
	right: 2%;

	position: relative;

	color: #74BBFB;
	background-color: black;

	border-radius: 30px;

	float: right;

	height: 90%;
	width: 15%;

	display: flex;

	justify-content: center;
	align-items: center;

	text-decoration: none;
}


a.search-button:hover{

	color: black;
	background-color: #74BBFB;
}


.option-button-button{
	top: 5%;
	right: 15%;
	position: relative;
	color: #74BBFB;
	background-color: black;
	border-radius: 30px;
	float: right;
	height: 90%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.option-button-button:hover{
	color: black;
	background-color: #74BBFB;
}

.option-button-button > .sidebar{
    position: absolute;
    display: none;
    background-color: black;
    top:0;
    right: 0;
    width: 500px;
    height: 500px;  
    border: 1px solid white;
    color: white;
    transition: ease-in;
    z-index: 1000;
}


.sidebar > .user-info{
    
    /* width: 100%; */
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    border: 1px solid #282828;
    font-size: 2em;
    display: flex;
}
.sidebar > .user-info > a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.options-sidebar-1{
    display: flex;
    font-size: 2em;
    
    border: 1px solid #282828;
    
}

.options-sidebar-1 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-1:hover{
    background-color: #282828;
}

.options-sidebar-2{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #282828;
    
}

.options-sidebar-2 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-2:hover{
    background-color: #282828;
}

.options-sidebar-3{
    display: none;
    /* width: 100%;
    height: 100%; */
    /* font-size: 2em;
    border: 1px solid #282828;
    padding-left: 1em;
     */
}

.options-sidebar-4{
    display: none;
}

.options-sidebar-3:hover{
    background-color: #282828;
    cursor: pointer;
}

.close > button{
    width: 100%;
    height: 100%;
    color: white;
    background-color:black;
    font-size: 2em;
}
.close>button:hover{
    background-color: #74BBFB;
    cursor: pointer;
}


div#content{

	grid-area: cont;

	background-color: black;


}


div#content-area-1{

	position: relative;

	width: 90%;
	height: 90%;

	background-color: #282828;

	top: 5%;
	left: 5%;

	border-radius: 40px;

	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100%;

	grid-template-areas:
		"content-area-1-zone-1 content-area-1-zone-2";

}


div#content-area-1-zone-1{

	grid-area: content-area-1-zone-1;

	border-radius: 40px 0px 0px 40px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 87% 13%;

	grid-template-areas:
		"content-area-1-zone-1-image-zone"
		"content-area-1-zone-1-review-zone";
}


div#content-area-1-zone-1-image-zone{

	grid-area: content-area-1-zone-1-image-zone;


	border-radius: 40px 0px 0px 0px;

	display: flex;
	justify-content: center;
	align-items: center;

}

img#series-image{

	position: relative;

	width: 90%;
	height: 90%;

	border-radius: 40px;

}

div#content-area-1-zone-1-review-zone{

	grid-area: content-area-1-zone-1-review-zone;


	border-radius: 0px 0px 0px 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2.5em;

	font-color: black;
}


i#star-icon-1{

	color: #FFFF00;
}


i#star-icon-2{

	color: #FFFF00;
}


i#star-icon-3{

	color: #FFFF00;
}


i#star-icon-4{

	color: #FFFF00;
}


i#star-icon-5{

	color: #FFFF00;
}


i#star-icon-6{

	color: #FFFF00;
}


i#star-icon-7{

	color: #FFFF00;
}


i#star-icon-8{

	color: #FFFF00;
}


i#star-icon-9{

	color: #FFFF00;
}


i#star-icon-10{

	color: #FFFF00;
}


div#content-area-1-zone-2{

	grid-area: content-area-1-zone-2;


	border-radius: 0px 40px 40px 0px;

	grid-gap: 1% 0%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 9% 9% 9% 39% 29%;

	grid-template-areas:
		"content-area-1-zone-2-title-zone"
		"content-area-1-zone-2-info-zone-1"
		"content-area-1-zone-2-info-zone-2"
		"content-area-1-zone-2-trailer-zone"
		"content-area-1-zone-2-sinop-zone";
}


div#content-area-1-zone-2-title-zone{

	grid-area: content-area-1-zone-2-title-zone;

	grid-gap: 0% 2%;

	display: grid;
	grid-template-columns: 78% 8% 8%;
	grid-template-rows: 100%;

	grid-template-areas:
		"content-area-1-zone-2-title-zone-title content-area-1-zone-2-title-zone-score content-area-1-zone-2-title-zone-ci";
}


div#content-area-1-zone-2-title-zone-title{

	grid-area: content-area-1-zone-2-title-zone-title;

	font-size: 1.5em;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}



div#content-area-1-zone-2-title-zone-score{

	grid-area: content-area-1-zone-2-title-zone-score;

	font-size: 1.3em;

	display: flex;
	justify-content: center;
	align-items: center;
}

h1#series-score{

	color: white;

	margin-left: 8%;
}


i#star-icon-score{

	color: #FFFF00;

}


div#content-area-1-zone-2-title-zone-ci{

	grid-area: content-area-1-zone-2-title-zone-ci;

	display: flex;
	justify-content: center;
	align-items: center;
}


img#ci{

	position: relative;

	width: auto;

	height: 90%;

}


div#content-area-1-zone-2-info-zone-1{

	grid-area: content-area-1-zone-2-info-zone-1;

	display: grid;
	grid-template-columns: 78% 22%;
	grid-template-rows: 100%;

	grid-template-areas:
		"content-area-1-zone-2-info-zone-1-genres content-area-1-zone-2-info-zone-1-eps";
}


div#content-area-1-zone-2-info-zone-1-genres{

	grid-area: content-area-1-zone-2-info-zone-1-genres;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}

div#content-area-1-zone-2-info-zone-1-eps{

	grid-area: content-area-1-zone-2-info-zone-1-eps;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;


}


div#content-area-1-zone-2-info-zone-2{

	grid-area: content-area-1-zone-2-info-zone-2;

	display: grid;
	grid-template-columns: 78% 11% 11%;
	grid-template-rows: 100%;

	grid-template-areas:
		"series-date icon-netflix-zone icon-imdb-zone";
}


div#series-date{

	grid-area: series-date;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}


div#icon-netflix-zone{

	grid-area: icon-netflix-zone;
}


img#icon-netflix{

	position: relative;

	width: auto;

	height: 90%;
}

div#icon-imdb-zone{

	grid-area: icon-imdb-zone;
}


img#icon-imdb{
	
	position: relative;

	width: auto;

	height: 90%;
}

div#content-area-1-zone-2-trailer-zone{

	grid-area: content-area-1-zone-2-trailer-zone;

	display: flex;
	justify-content: center;
	align-items: center;
}


video#trailer{
	position: relative;

	height: 100%;
	width: 70%;

	margin-right: 20%;
}


div#content-area-1-zone-2-sinop-zone{

	grid-area: content-area-1-zone-2-sinop-zone;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}


div#content2{

	grid-area: cont2;

	background-color: black;


}



div#content2-area-1{

	position: relative;

	width: 90%;
	height: 90%;

	background-color: #282828;

	top: 5%;
	left: 5%;

	border-radius: 40px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;

	grid-template-areas:
		"cast-title-area"
		"cast-info";
}


div#cast-title-area{

	grid-area: cast-title-area;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.5em;

}


div#cast-info{

	grid-area: cast-info;

	display: grid;

	margin-left: 3%;

	grid-template-columns: 8.33% 24% 8.33% 24% 8.33% 24%;
	grid-template-rows: 25% 25% 25% 25%;

	grid-template-areas:
		"cast-member-01-image cast-member-01-info cast-member-02-image cast-member-02-info cast-member-03-image cast-member-03-info" 
		"cast-member-04-image cast-member-04-info cast-member-05-image cast-member-05-info cast-member-06-image cast-member-06-info"
		"cast-member-07-image cast-member-07-info cast-member-08-image cast-member-08-info cast-member-09-image cast-member-09-info"
		"cast-member-10-image cast-member-10-info cast-member-11-image cast-member-11-info cast-member-12-image cast-member-12-info";

}


img.cast-member-img{

	position: relative;

	width: 90%;
	height: 90%;

	border-width: medium;

	border-style: solid;

	border-color: white;

	border-radius: 10px;

	margin-left: 10%;
}


p.cast-member-inf{

	position: relative;

	margin-left: 10%;

	margin-top: 10%;

	font-size: 1.5em;

	color: white;
}


div#cast-member-01-image{

	grid-area: cast-member-01-image;
}


div#cast-member-01-info{

	grid-area: cast-member-01-info;
}


div#cast-member-02-image{

	grid-area: cast-member-02-image;
}


div#cast-member-02-info{

	grid-area: cast-member-02-info;
}


div#cast-member-03-image{

	grid-area: cast-member-03-image;
}


div#cast-member-03-info{

	grid-area: cast-member-03-info;
}


div#cast-member-04-image{

	grid-area: cast-member-04-image;
}


div#cast-member-04-info{

	grid-area: cast-member-04-info;
}


div#cast-member-05-image{

	grid-area: cast-member-05-image;
}


div#cast-member-05-info{

	grid-area: cast-member-05-info;
}


div#cast-member-06-image{

	grid-area: cast-member-06-image;
}


div#cast-member-06-info{

	grid-area: cast-member-06-info;
}


div#cast-member-07-image{

	grid-area: cast-member-07-image;
}


div#cast-member-07-info{

	grid-area: cast-member-07-info;
}


div#cast-member-08-image{

	grid-area: cast-member-08-image;
}


div#cast-member-08-info{

	grid-area: cast-member-08-info;
}


div#cast-member-09-image{

	grid-area: cast-member-09-image;
}


div#cast-member-09-info{

	grid-area: cast-member-09-info;
}


div#cast-member-10-image{

	grid-area: cast-member-10-image;
}


div#cast-member-10-info{

	grid-area: cast-member-10-info;
}


div#cast-member-11-image{

	grid-area: cast-member-11-image;
}


div#cast-member-11-info{

	grid-area: cast-member-11-info;
}


div#cast-member-12-image{

	grid-area: cast-member-12-image;
}


div#cast-member-12-info{

	grid-area: cast-member-12-info;
}


div#content3{

	grid-area: cont3;

	background-color: black;


}


div#content3-area-1{

	position: relative;

	width: 90%;
	height: 90%;

	background-color: #282828;

	top: 5%;
	left: 5%;

	border-radius: 40px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;

	grid-template-areas:
		"reviews-title-area"
		"reviews-main-area";
}


div#reviews-title-area{

	grid-area: reviews-title-area;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.5em;
}


div#reviews-main-area{

	grid-area: reviews-main-area;

	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: 100%;

	grid-template-areas:
		"user-review liked-reviews";
}


div#user-review{

	grid-area: user-review;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 50% 10% 10% 10% 10%;

	grid-template-areas:
		"user-review-title-area"
		"user-review-review-area"
		"user-review-scores-area-01"
		"user-review-scores-area-02"
		"user-review-scores-area-03"
		"user-review-button-area";

}


div#user-review-title-area{

	grid-area: user-review-title-area;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.3em;
}


div#user-review-review-area{

	grid-area: user-review-review-area;

	display: flex;
	justify-content: center;
	align-items: center;
}


textarea#user-review-text{

	position: relative;

	width: 90%;

	height: 90%;

	border: none;
	outline: none;

	background-color: #a6a6a6;

	border-radius: 40px;

	padding-top: 2%;
   	padding-left: 4%;
   	padding-right: 2%;
   	
   	resize: none;

   	font-size: 1.5em;
}


div#user-review-scores-area-01{

	grid-area: user-review-scores-area-01;

	display: grid;
	grid-template-columns: 35% 15% 35% 15%;
	grid-template-rows: 100%;

	grid-template-areas:
		"user-review-score-01-text user-review-score-01-score user-review-score-02-text user-review-score-02-score";
}


select.score-selct{

	position: relative;

	height: 60%;
	width: 80%;

	font-size: 1.2em;
}


div#user-review-score-01-text{

	grid-area: user-review-score-01-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.1em;
}


div#user-review-score-01-score{

	grid-area: user-review-score-01-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-score-02-text{

	grid-area: user-review-score-02-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.1em;
}


div#user-review-score-02-score{

	grid-area: user-review-score-02-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-scores-area-02{

	grid-area: user-review-scores-area-02;

	display: grid;
	grid-template-columns: 35% 15% 35% 15%;
	grid-template-rows: 100%;

	grid-template-areas:
		"user-review-score-03-text user-review-score-03-score user-review-score-04-text user-review-score-04-score";
}


div#user-review-score-03-text{

	grid-area: user-review-score-03-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.1em;
}


div#user-review-score-03-score{

	grid-area: user-review-score-03-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-score-04-text{

	grid-area: user-review-score-04-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.0em;
}


div#user-review-score-04-score{

	grid-area: user-review-score-04-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-scores-area-03{

	grid-area: user-review-scores-area-03;

	display: grid;
	grid-template-columns: 20% 40% 15% auto;
	grid-template-rows: 100%;

	grid-template-areas:
		"void-01 user-review-score-05-text user-review-score-05-score";
}

div#void-01{

	grid-area: void-01;
}

div#user-review-score-05-text{

	grid-area: user-review-score-05-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.0em;
}


div#user-review-score-05-score{

	grid-area: user-review-score-05-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-button-area{

	grid-area: user-review-button-area;

	display: flex;
	justify-content: center;
	align-items: center;
}

div#button-review{

	position: relative;

	background-color: black;

	height: 95%;

	width: 30%;

	border-radius: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #74BBFB;

	font-size: 0.9em;
}


div#button-review:hover{

	background-color: #74BBFB;

	color: black;

	cursor: pointer;
}


div#liked-reviews{

	grid-area: liked-reviews;

}


div#liked-reviews{

	grid-area: liked-reviews;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 7% 93%;

	grid-template-areas:
		"liked-reviews-title-area"
		"liked-reviews-reviews-area";

}


div#liked-reviews-title-area{

	grid-area: liked-reviews-title-area;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.3em;
}

div#liked-reviews-reviews-area{

	grid-area: liked-reviews-reviews-area;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 34% 33% 33%;

	grid-template-areas:
		"liked-review-area-01 liked-review-area-02"
		"liked-review-area-03 liked-review-area-04"
		"liked-review-area-05 liked-review-area-06";
}

div.liked-review-area-out{

	display: flex;
	justify-content: center;
	align-items: center;

}


div.liked-review-area{

	position: relative;

	background-color: #778899;

	height: 94%;
	width: 95%;

	border-width: medium;
	border-style: solid;
	border-color: black;
	border-radius: 30px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 30% 70%;

	grid-template-areas:
		"liked-review-area-01"
		"liked-review-area-02";

}


div.liked-review-area-01{

	grid-area: liked-review-area-01;

	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 100%;

	grid-template-areas:
		"liked-review-image liked-review-info liked-reviews-like-icon";

}


div.liked-review-image{

	grid-area: liked-review-image;

	display: flex;
	justify-content: center;
	align-items: center;
}


div.liked-review-info{

	grid-area: liked-review-info;

	display: flex;
	
	align-items: center;

	color: white;

	font-size: 1.3em;

	margin-top: 2%;
}	


div.liked-reviews-like-icon{

	grid-area: liked-reviews-like-icon;

	display: flex;
	justify-content: center;
	align-items: center;
}


i#thumb-icon{

	color: #FFFF00;

	position: relative;

	font-size: 2.5em;
}

p.thumb-icon-number{

	color: #FFFF00;

	font-size: 1.2em;
}


div.liked-review-area-02{

	grid-area: liked-review-area-02;

	color: black;

	font-size: 1.4em;
}


p.liked-review-text{

	margin-left: 2%;
	margin-top: 4%;

}

img.liked-review-img{

	position: relative;

	height: 100%;
	width: 70%;

	margin-top: 8%;

	border-width: medium;
	border-style: solid;
	border-color: black;
	border-radius: 30px;
}



div#liked-review-area-01{

	grid-area: liked-review-area-01;

}


div#liked-review-area-02{

	grid-area: liked-review-area-02;
}


div#liked-review-area-03{

	grid-area: liked-review-area-03;
}


div#liked-review-area-04{

	grid-area: liked-review-area-04;
}


div#liked-review-area-05{

	grid-area: liked-review-area-05;
}


div#liked-review-area-06{

	grid-area: liked-review-area-06;
}








@media (max-width: 1700px){

	div#content-area-1-zone-1-review-zone{
	font-size: 2.2em;

	}

	div#content-area-1-zone-2-sinop-zone{

	font-size: 0.8em;
	}

}


@media (max-width: 1280px){

	div#content-area-1-zone-1-review-zone{
	font-size: 1.8em;

	}

	div#content-area-1-zone-2-sinop-zone{

	font-size: 0.6em;
	}

}


@media (max-width: 600px){

	*{
	margin: 0;
	padding: 0;
}


body{

	position: absolute;

	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 250% 200% 300%;

	grid-template-areas:
		"head"
		"cont"
		"cont2"
		"cont3";

}


header#header{

	grid-area: head;

	background-color: #282828;

	display: grid;

	grid-gap: 0px 1%;

	grid-template-columns: 90% 10%;
	grid-template-rows: 100%;
	grid-template-areas:
		"search-area option-button";
}


img.logo{

	grid-area: logo;
    display: none;
	height: 100%;
	width: auto;
}


img.logo:hover{

	cursor: pointer;

	background-color: #74BBFB;

	border-radius: 20px;
}


a#header-item-01{
    display: none;
	grid-area: header-item-01;

}


a#header-item-02{
	display: none;
	grid-area: header-item-02;

}


a#header-item-03{
	display: none;
	grid-area: header-item-03;

}


a.header-items{

	color: white;
	text-decoration: none;
 	font-size: 1.5em;
 	text-align: center;
 	font-family: "rockwell";


   	line-height: 280%;
}


a.header-items:hover{


	background-color: #74BBFB;
	color: black;
	border-radius: 20px;
	
}


div.search-area{

	grid-area: search-area;

}


div.search-area-2{

	position: relative;

	height: 70%;
	width: 85%;

	top: 15%;
	left: 10%;

	background-color: #DCDCDC;

	border-radius: 30px;

}


input.search-field{

	position: relative;

	border: none;
	background: none;
	outline: none;

	float: left;

	padding: 0;

	color: black;

	font-size: 20px;

	top: 25%;
	left: 3%;

	width: 78%;
}


a.search-button{

	top: 5%;
	right: 2%;

	position: relative;

	color: #74BBFB;
	background-color: black;

	border-radius: 30px;

	float: right;

	height: 90%;
	width: 15%;

	display: flex;

	justify-content: center;
	align-items: center;

	text-decoration: none;
}


a.search-button:hover{

	color: black;
	background-color: #74BBFB;
}
div.option-button{
    grid-area: option-button;
}

.option-button-button{
    top: 5%;
    right: 15%;
    position: relative;
    color: #74BBFB;
    background-color: black;
    border-radius: 30px;
    float: right;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.option-button-button:hover{
    color: black;
    background-color: #AAAAAA;
}

.option-button-button > .sidebar{
    position: absolute;
    display: none;
    background-color: black;
    top:0;
    right: 0;
    width: 300px;
    height: 500px;  
    border: 1px solid white;
    color: white;
    transition: ease-in;
    z-index: 1000;
}


.sidebar > .user-info{
    
    /* width: 100%; */
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    
    font-size: 2em;
    display: flex;
}
.sidebar > .user-info > a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.options-sidebar-1{
    display: flex;
    font-size: 2em;
    
    border: 1px solid #282828;
    
}

.options-sidebar-1 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-1:hover{
    background-color: #282828;
}

.options-sidebar-2{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #282828;
    
}

.options-sidebar-2 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-2:hover{
    background-color: #282828;
}

.options-sidebar-3{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    
    padding-left: 1em;
    
}

.options-sidebar-3:hover{
    background-color: #282828;
    cursor: pointer;
}

.options-sidebar-4{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #282828;
    padding-left: 1em;
}
.options-sidebar-4:hover{
    background-color: #282828;
}   

.close > button{
    width: 100%;
    height: 100%;
    color: white;
    background-color:black;
    font-size: 2em;
}
.close>button:hover{
    background-color: #74BBFB;
    cursor: pointer;
}


div#content{

	grid-area: cont;

	background-color: black;


}


div#content-area-1{

	position: relative;

	width: 90%;
	height: 90%;

	background-color: #282828;

	top: 5%;
	left: 5%;

	border-radius: 40px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 40% 60%;

	grid-template-areas:
		"content-area-1-zone-1"
		"content-area-1-zone-2";

}


div#content-area-1-zone-1{

	grid-area: content-area-1-zone-1;

	border-radius: 40px 0px 0px 40px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 87% 13%;

	grid-template-areas:
		"content-area-1-zone-1-image-zone"
		"content-area-1-zone-1-review-zone";
}


div#content-area-1-zone-1-image-zone{

	grid-area: content-area-1-zone-1-image-zone;


	border-radius: 40px 0px 0px 0px;

	display: flex;
	justify-content: center;
	align-items: center;

}

img#series-image{

	position: relative;

	width: 90%;
	height: 90%;

	border-radius: 40px;

}

div#content-area-1-zone-1-review-zone{

	grid-area: content-area-1-zone-1-review-zone;


	border-radius: 0px 0px 0px 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2.2em;

	font-color: black;
}


i#star-icon-1{

	color: #FFFF00;
}


i#star-icon-2{

	color: #FFFF00;
}


i#star-icon-3{

	color: #FFFF00;
}


i#star-icon-4{

	color: #FFFF00;
}


i#star-icon-5{

	color: #FFFF00;
}


i#star-icon-6{

	color: #FFFF00;
}


i#star-icon-7{

	color: #FFFF00;
}


i#star-icon-8{

	color: #FFFF00;
}


i#star-icon-9{

	color: #FFFF00;
}


i#star-icon-10{

	color: #FFFF00;
}


div#content-area-1-zone-2{

	grid-area: content-area-1-zone-2;


	border-radius: 0px 40px 40px 0px;

	grid-gap: 1% 0%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 19% 9% 9% 29% 29%;

	grid-template-areas:
		"content-area-1-zone-2-title-zone"
		"content-area-1-zone-2-info-zone-1"
		"content-area-1-zone-2-info-zone-2"
		"content-area-1-zone-2-trailer-zone"
		"content-area-1-zone-2-sinop-zone";
}


div#content-area-1-zone-2-title-zone{

	grid-area: content-area-1-zone-2-title-zone;

	grid-gap: 2% 0%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 48% 24% 24%;

	grid-template-areas:
		"content-area-1-zone-2-title-zone-title"
		"content-area-1-zone-2-title-zone-score"
		"content-area-1-zone-2-title-zone-ci";
}


div#content-area-1-zone-2-title-zone-title{

	grid-area: content-area-1-zone-2-title-zone-title;

	font-size: 1.2em;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}



div#content-area-1-zone-2-title-zone-score{

	grid-area: content-area-1-zone-2-title-zone-score;

	font-size: 1.3em;

	display: flex;
	justify-content: center;
	align-items: center;
}

h1#series-score{

	color: white;

	margin-left: 8%;
}


i#star-icon-score{

	color: #FFFF00;

}


div#content-area-1-zone-2-title-zone-ci{

	grid-area: content-area-1-zone-2-title-zone-ci;

	display: flex;
	justify-content: center;
	align-items: center;
}


img#ci{

	position: relative;

	width: auto;

	height: 90%;

}


div#content-area-1-zone-2-info-zone-1{

	grid-area: content-area-1-zone-2-info-zone-1;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;

	grid-template-areas:
		"content-area-1-zone-2-info-zone-1-genres "
		"content-area-1-zone-2-info-zone-1-eps";
}


div#content-area-1-zone-2-info-zone-1-genres{

	grid-area: content-area-1-zone-2-info-zone-1-genres;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}

div#content-area-1-zone-2-info-zone-1-eps{

	grid-area: content-area-1-zone-2-info-zone-1-eps;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;


}


div#content-area-1-zone-2-info-zone-2{

	grid-area: content-area-1-zone-2-info-zone-2;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 40% 40%;

	grid-template-areas:
		"series-date"
		"icon-netflix-zone"
		"icon-imdb-zone";
}


div#series-date{

	grid-area: series-date;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}


div#icon-netflix-zone{

	grid-area: icon-netflix-zone;

	display: flex;
	justify-content: center;
	align-items: center;
}


img#icon-netflix{

	position: relative;

	width: 15%;

	height: auto;

	margin-left: 40%;

	margin-top: 5%
}

div#icon-imdb-zone{

	grid-area: icon-imdb-zone;

	display: flex;
	justify-content: center;
	align-items: center;
}


img#icon-imdb{
	
	position: relative;

	width: 10%;

	height: auto;

	margin-left: 43%;

	margin-top: 5%
}

div#content-area-1-zone-2-trailer-zone{

	grid-area: content-area-1-zone-2-trailer-zone;

	display: flex;
	justify-content: center;
	align-items: center;
}


video#trailer{
	position: relative;

	height: 100%;
	width: 70%;

	margin-left: 20%;

	margin-top: 10%;
}


div#content-area-1-zone-2-sinop-zone{

	grid-area: content-area-1-zone-2-sinop-zone;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	margin-left: 5%;
}


div#content2{
	grid-area: cont2;
	background-color: black;
}



div#content2-area-1{

	position: relative;

	width: 90%;
	height: 90%;

	background-color: #282828;

	top: 5%;
	left: 5%;

	border-radius: 40px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;

	grid-template-areas:
		"cast-title-area"
		"cast-info";
}


div#cast-title-area{

	grid-area: cast-title-area;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.2em;

}


div#cast-info{

	grid-area: cast-info;

	display: grid;

	margin-left: 3%;

	grid-template-columns: 34% 33% 33%;
	grid-template-rows: 15% 10% 15% 10% 15% 10% 15% 10%;

	grid-template-areas:
		"cast-member-01-image cast-member-02-image cast-member-03-image" 
		"cast-member-01-info cast-member-02-info cast-member-03-info"
		"cast-member-04-image cast-member-05-image cast-member-06-image"
		"cast-member-04-info cast-member-05-info cast-member-06-info"
		"cast-member-07-image cast-member-08-image cast-member-09-image"
		"cast-member-07-info cast-member-08-info cast-member-09-info"
		"cast-member-10-image cast-member-11-image cast-member-12-image"
		"cast-member-10-info cast-member-11-info cast-member-12-info";

}


img.cast-member-img{

	position: relative;

	width: 70%;
	height: 60%;

	border-width: medium;

	border-style: solid;

	border-color: white;

	border-radius: 10px;

	margin-left: 10%;
}


p.cast-member-inf{

	position: relative;

	margin-left: 10%;

	margin-top: -50%;

	font-size: 1.3em;

	color: white;
}


div#cast-member-01-image{

	grid-area: cast-member-01-image;
}


div#cast-member-01-info{

	grid-area: cast-member-01-info;
}


div#cast-member-02-image{

	grid-area: cast-member-02-image;
}


div#cast-member-02-info{

	grid-area: cast-member-02-info;
}


div#cast-member-03-image{

	grid-area: cast-member-03-image;
}


div#cast-member-03-info{

	grid-area: cast-member-03-info;
}


div#cast-member-04-image{

	grid-area: cast-member-04-image;
}


div#cast-member-04-info{

	grid-area: cast-member-04-info;
}


div#cast-member-05-image{

	grid-area: cast-member-05-image;
}


div#cast-member-05-info{

	grid-area: cast-member-05-info;
}


div#cast-member-06-image{

	grid-area: cast-member-06-image;
}


div#cast-member-06-info{

	grid-area: cast-member-06-info;
}


div#cast-member-07-image{

	grid-area: cast-member-07-image;
}


div#cast-member-07-info{

	grid-area: cast-member-07-info;
}


div#cast-member-08-image{

	grid-area: cast-member-08-image;
}


div#cast-member-08-info{

	grid-area: cast-member-08-info;
}


div#cast-member-09-image{

	grid-area: cast-member-09-image;
}


div#cast-member-09-info{

	grid-area: cast-member-09-info;
}


div#cast-member-10-image{

	grid-area: cast-member-10-image;
}


div#cast-member-10-info{

	grid-area: cast-member-10-info;
}


div#cast-member-11-image{

	grid-area: cast-member-11-image;
}


div#cast-member-11-info{

	grid-area: cast-member-11-info;
}


div#cast-member-12-image{

	grid-area: cast-member-12-image;
}


div#cast-member-12-info{

	grid-area: cast-member-12-info;
}


div#content3{

	grid-area: cont3;

	background-color: black;


}


div#content3-area-1{

	position: relative;

	width: 90%;
	height: 90%;

	background-color: #282828;

	top: 5%;
	left: 5%;

	border-radius: 40px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 5% 90%;

	grid-template-areas:
		"reviews-title-area"
		"reviews-main-area";
}


div#reviews-title-area{

	grid-area: reviews-title-area;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.5em;
}


div#reviews-main-area{

	grid-area: reviews-main-area;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 30% 70%;

	grid-template-areas:
		"user-review"
		"liked-reviews";
}


div#user-review{

	grid-area: user-review;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 50% 10% 10% 10% 10%;

	grid-template-areas:
		"user-review-title-area"
		"user-review-review-area"
		"user-review-scores-area-01"
		"user-review-scores-area-02"
		"user-review-scores-area-03"
		"user-review-button-area";

}


div#user-review-title-area{

	grid-area: user-review-title-area;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.3em;
}


div#user-review-review-area{

	grid-area: user-review-review-area;

	display: flex;
	justify-content: center;
	align-items: center;
}


textarea#user-review-text{

	position: relative;

	width: 90%;

	height: 90%;

	border: none;
	outline: none;

	background-color: #a6a6a6;

	border-radius: 40px;

	padding-top: 2%;
   	padding-left: 4%;
   	padding-right: 2%;
   	
   	resize: none;

   	font-size: 1.5em;
}


div#user-review-scores-area-01{

	grid-area: user-review-scores-area-01;

	display: grid;
	grid-template-columns: 35% 15% 35% 15%;
	grid-template-rows: 100%;

	grid-template-areas:
		"user-review-score-01-text user-review-score-01-score user-review-score-02-text user-review-score-02-score";
}


select.score-selct{

	position: relative;

	height: 60%;
	width: 80%;

	font-size: 1.2em;
}


div#user-review-score-01-text{

	grid-area: user-review-score-01-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 0.8em;
}


div#user-review-score-01-score{

	grid-area: user-review-score-01-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-score-02-text{

	grid-area: user-review-score-02-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 0.8em;
}


div#user-review-score-02-score{

	grid-area: user-review-score-02-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-scores-area-02{

	grid-area: user-review-scores-area-02;

	display: grid;
	grid-template-columns: 35% 15% 35% 15%;
	grid-template-rows: 100%;

	grid-template-areas:
		"user-review-score-03-text user-review-score-03-score user-review-score-04-text user-review-score-04-score";
}


div#user-review-score-03-text{

	grid-area: user-review-score-03-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 0.8em;
}


div#user-review-score-03-score{

	grid-area: user-review-score-03-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-score-04-text{

	grid-area: user-review-score-04-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 0.7em;
}


div#user-review-score-04-score{

	grid-area: user-review-score-04-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-scores-area-03{

	grid-area: user-review-scores-area-03;

	display: grid;
	grid-template-columns: 20% 40% 15% auto;
	grid-template-rows: 100%;

	grid-template-areas:
		"void-01 user-review-score-05-text user-review-score-05-score";
}

div#void-01{

	grid-area: void-01;
}

div#user-review-score-05-text{

	grid-area: user-review-score-05-text;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 0.7em;
}


div#user-review-score-05-score{

	grid-area: user-review-score-05-score;

	display: flex;
	justify-content: center;
	align-items: center;
}


div#user-review-button-area{

	grid-area: user-review-button-area;

	display: flex;
	justify-content: center;
	align-items: center;
}

div#button-review{

	position: relative;

	background-color: black;

	height: 95%;

	width: 30%;

	border-radius: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #74BBFB;

	font-size: 0.9em;
}


div#button-review:hover{

	background-color: #74BBFB;

	color: black;

	cursor: pointer;
}


div#liked-reviews{

	grid-area: liked-reviews;

}


div#liked-reviews{

	grid-area: liked-reviews;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 7% 93%;

	grid-template-areas:
		"liked-reviews-title-area"
		"liked-reviews-reviews-area";

}


div#liked-reviews-title-area{

	grid-area: liked-reviews-title-area;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	font-size: 1.1em;

	margin-top: 5%;
}

div#liked-reviews-reviews-area{

	grid-area: liked-reviews-reviews-area;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 17% 16% 16% 16% 16% 16%;

	grid-template-areas:
		"liked-review-area-01"
		"liked-review-area-02"
		"liked-review-area-03 "
		"liked-review-area-04"
		"liked-review-area-05"
		"liked-review-area-06";
}

div.liked-review-area-out{

	display: flex;
	justify-content: center;
	align-items: center;

}


div.liked-review-area{

	position: relative;

	background-color: #778899;

	height: 94%;
	width: 95%;

	border-width: medium;
	border-style: solid;
	border-color: black;
	border-radius: 30px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 30% 70%;

	grid-template-areas:
		"liked-review-area-01"
		"liked-review-area-02";

}


div.liked-review-area-01{

	grid-area: liked-review-area-01;

	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 100%;

	grid-template-areas:
		"liked-review-image liked-review-info liked-reviews-like-icon";

}


div.liked-review-image{

	grid-area: liked-review-image;

	display: flex;
	justify-content: center;
	align-items: center;
}


div.liked-review-info{

	grid-area: liked-review-info;

	display: flex;
	
	align-items: center;

	color: white;

	font-size: 1.3em;

	margin-top: 2%;
}	


div.liked-reviews-like-icon{

	grid-area: liked-reviews-like-icon;

	display: flex;
	justify-content: center;
	align-items: center;
}


i#thumb-icon{

	color: #FFFF00;

	position: relative;

	font-size: 2.5em;
}

p.thumb-icon-number{

	color: #FFFF00;

	font-size: 1.2em;
}


div.liked-review-area-02{

	grid-area: liked-review-area-02;

	color: black;

	font-size: 1.4em;
}


p.liked-review-text{

	margin-left: 2%;
	margin-top: 4%;

}

img.liked-review-img{

	position: relative;

	height: 100%;
	width: 70%;

	margin-top: 8%;

	border-width: medium;
	border-style: solid;
	border-color: black;
	border-radius: 30px;
}



div#liked-review-area-01{

	grid-area: liked-review-area-01;

}


div#liked-review-area-02{

	grid-area: liked-review-area-02;
}


div#liked-review-area-03{

	grid-area: liked-review-area-03;
}


div#liked-review-area-04{

	grid-area: liked-review-area-04;
}


div#liked-review-area-05{

	grid-area: liked-review-area-05;
}


div#liked-review-area-06{

	grid-area: liked-review-area-06;
}



}