*{
	margin: 0;
    padding: 0;
    font-family: "rockwell";
}


body{

	position: absolute;

	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;

	grid-template-areas:
		"head"
		"cont";

}


header#header{

	grid-area: head;
    
	background-color: #282828;

	display: grid;

	grid-gap: 0px 1%;

	grid-template-columns: 6% 15% 15% 15% auto 5%;
	grid-template-rows: 100%;
	grid-template-areas:
		"logo header-item-01 header-item-02 header-item-03 search-area option-button";
}


img.logo{

	grid-area: logo;

	height: 100%;
	width: auto;
}


img.logo:hover{

	cursor: pointer;

	background-color: #74BBFB;

	border-radius: 20px;
}


a#header-item-01{
	grid-area: header-item-01;
}


a#header-item-02{
	grid-area: header-item-02;
}


a#header-item-03{
	grid-area: header-item-03;
}


a.header-items{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    font-family: "rockwell";
    align-self: center;
    line-height: 280%;
}


a.header-items:hover{
	background-color: #74BBFB;
	color: black;
	border-radius: 20px;
}


div.search-area{
	grid-area: search-area;
}


div.search-area-2{
	position: relative;
	height: 70%;
	width: 85%;
	top: 15%;
	left: 10%;
	background-color: #DCDCDC;
	border-radius: 30px;
}


input.search-field{

	position: relative;

	border: none;
	background: none;
	outline: none;

	float: left;

	padding: 0;

	color: black;

	font-size: 20px;

	top: 25%;
	left: 3%;

	width: 78%;
}


a.search-button{

	top: 5%;
	right: 2%;

	position: relative;

	color: #74BBFB;
	background-color: black;

	border-radius: 30px;

	float: right;

	height: 90%;
	width: 15%;

	display: flex;

	justify-content: center;
	align-items: center;

	text-decoration: none;
}


a.search-button:hover{

	color: black;
	background-color: #74BBFB;
}


div.option-button{

	grid-area: option-button;

}
.option-button-button{
	top: 5%;
	right: 15%;
	position: relative;
	color: #74BBFB;
	background-color: black;
	border-radius: 30px;
	float: right;
	height: 90%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.option-button-button:hover{
	color: black;
	background-color: #74BBFB;
}

.option-button-button > .sidebar{
    position: absolute;
    display: none;
    background-color: black;
    top:0;
    right: 0;
    width: 500px;
    height: 500px;  
    border: 1px solid white;
    color: white;
    transition: ease-in;
    z-index: 1000;
}


.sidebar > .user-info{
    
    /* width: 100%; */
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    border: 1px solid #282828;
    font-size: 2em;
    display: flex;
}
.sidebar > .user-info > a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.options-sidebar-1{
    display: flex;
    font-size: 2em;
    
    border: 1px solid #282828;
    
}

.options-sidebar-1 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-1:hover{
    background-color: #282828;
}

.options-sidebar-2{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #282828;
    
}

.options-sidebar-2 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-2:hover{
    background-color: #282828;
}

.options-sidebar-3{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #282828;
    padding-left: 1em;
    
}

.options-sidebar-3:hover{
    background-color: #282828;
    cursor: pointer;
}

.close > button{
    width: 100%;
    height: 100%;
    color: white;
    background-color:black;
    font-size: 2em;
}
.close>button:hover{
    background-color: #74BBFB;
    cursor: pointer;
}


div.content{

	grid-area: cont;

	background-color: black;

	display: grid;

	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;
	grid-template-areas:
		"page-title-next-button"
		"series-list";


}

div#page-title-next-button{

	grid-area: page-title-next-button;

	display: grid;

	grid-template-columns: 94% 6%;
	grid-template-rows: 100%;
	grid-template-areas:
		"page-title next-button";

	margin-right: 1%; 
	margin-left: 1%;

	align-items: center;
}

h1#page-title{

	grid-area: page-title;

	color: white;

	font-size: 50px;

	font-family: "Times New Roman", Times, serif;

	margin-left: 42%;
}

div.next-button{

	grid-area: next-button;

	font-size: 20px;

}


a.next-page-button{

	position: relative;

	color: #74BBFB;
	background-color: #282828;

	border-radius: 30px;

	float: left;

	height: 90%;
	width: 70%;

	display: flex;

	justify-content: center;
	align-items: center;

	text-decoration: none;

}


a.next-page-button:hover{

	background-color: #74BBFB;

	color: #282828;
}


div#series-list{

	grid-area: series-list;

	display: grid;

	grid-gap: 2% 0%;

	grid-template-columns: 100%;
	grid-template-rows: 98%;
	grid-template-areas:
		"series-list-row-01";
}


div.series-list-row#series-list-row-01{

	grid-area: series-list-row-01;

	display: grid;

	grid-gap: 2% 2%;

	grid-template-columns: 18% 18% 18% 18% 18%;
	grid-template-rows: 49% 49%;
	grid-template-areas:
		"series-list-series-field-01 series-list-series-field-02 series-list-series-field-03 series-list-series-field-04 series-list-series-field-05"
		"series-list-series-field-06 series-list-series-field-07 series-list-series-field-08 series-list-series-field-09 series-list-series-field-10";

	margin-left: 2%;

}


div.series-list-series-field{


}



div.series-list-series-field#series-list-series-field-01{

	grid-area: series-list-series-field-01;

	display: inline-block;
  	position: relative;

}


div.series-list-series-field#series-list-series-field-02{

	grid-area: series-list-series-field-02;

}


div.series-list-series-field#series-list-series-field-03{

	grid-area: series-list-series-field-03;

}


div.series-list-series-field#series-list-series-field-04{

	grid-area: series-list-series-field-04;

}


div.series-list-series-field#series-list-series-field-05{

	grid-area: series-list-series-field-05;

}


div.series-list-series-field#series-list-series-field-06{

	grid-area: series-list-series-field-06;

}


div.series-list-series-field#series-list-series-field-07{

	grid-area: series-list-series-field-07;

}


div.series-list-series-field#series-list-series-field-08{

	grid-area: series-list-series-field-08;

}


div.series-list-series-field#series-list-series-field-09{

	grid-area: series-list-series-field-09;

}


div.series-list-series-field#series-list-series-field-10{

	grid-area: series-list-series-field-10;

}

img.series-list-series-img{

	position: relative;

	width: 100%;
	height: 100%;

	border-radius: 20px;
}


img.series-list-series-img:hover{

	opacity: 50%;

	cursor: pointer;

	transition-duration: 0.5s;

}



@media (max-width: 800px){

*{
	margin: 0;
	padding: 0;
}


body{

	position: absolute;

	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 200%;

	grid-template-areas:
		"head"
		"cont";

}


header#header{

	grid-area: head;
    
	background-color: #282828;

	display: grid;

	grid-gap: 0px 1%;

	grid-template-columns: 90% 10%;
	grid-template-rows: 100%;
	grid-template-areas:
		"search-area option-button";
}


img.logo{

	grid-area: logo;

	height: auto;
	width: 100%;
}


img.logo:hover{

	cursor: pointer;

	background-color: #74BBFB;

	border-radius: 20px;
}


a#header-item-01{
    display: none;
	grid-area: header-item-01;
}


a#header-item-02{
    display: none;
	grid-area: header-item-02;
}


a#header-item-03{
    display: none;
	grid-area: header-item-03;
}


a.header-items{
    color: white;
    text-decoration: none;
    font-size: 0.5em;
    text-align: center;
    font-family: "rockwell";
    align-self: center;
    line-height: 280%;
}


a.header-items:hover{
	background-color: #74BBFB;
	color: black;
	border-radius: 20px;
}


div.search-area{
	grid-area: search-area;
}


div.search-area-2{
	position: relative;
	height: 70%;
	width: 85%;
	top: 15%;
	left: 10%;
	background-color: #DCDCDC;
	border-radius: 30px;
}


input.search-field{

	position: relative;

	border: none;
	background: none;
	outline: none;

	float: left;

	padding: 0;

	color: black;

	font-size: 20px;

	top: 25%;
	left: 3%;

	width: 78%;
}


a.search-button{

	top: 5%;
	right: 2%;

	position: relative;

	color: #74BBFB;
	background-color: black;

	border-radius: 30px;

	float: right;

	height: 90%;
	width: 15%;

	display: flex;

	justify-content: center;
	align-items: center;

	text-decoration: none;
}


a.search-button:hover{

	color: black;
	background-color: #74BBFB;
}


div.option-button{
    grid-area: option-button;
}

.option-button-button{
    top: 5%;
    right: 15%;
    position: relative;
    color: #74BBFB;
    background-color: black;
    border-radius: 30px;
    float: right;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.option-button-button:hover{
    color: black;
    background-color: #74BBFB;
}

.option-button-button > .sidebar{
    position: absolute;
    display: none;
    background-color: black;
    top:0;
    right: 0;
    width: 300px;
    height: 500px;  
    border: 1px solid white;
    color: white;
    transition: ease-in;
    z-index: 1000;
}


.sidebar > .user-info{
    
    /* width: 100%; */
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    border: 1px solid #282828;
    font-size: 2em;
    display: flex;
}
.sidebar > .user-info > a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.options-sidebar-1{
    display: flex;
    font-size: 2em;
    
    border: 1px solid #282828;
    
}

.options-sidebar-1 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-1:hover{
    background-color: #282828;
}

.options-sidebar-2{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #282828;
    
}

.options-sidebar-2 > a{
    text-decoration: none;
    color: white;
    padding-left: 1em;
    width: 100%;
    height: 100%;
}

.options-sidebar-2:hover{
    background-color: #282828;
}

.options-sidebar-3{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #282828;
    padding-left: 1em;
    
}

.options-sidebar-3:hover{
    background-color: #282828;
    cursor: pointer;
}

.options-sidebar-4{
    display: flex;
    /* width: 100%;
    height: 100%; */
    font-size: 2em;
    border: 1px solid #74BBFB;
    padding-left: 1em;
}
.options-sidebar-4:hover{
    background-color: #282828;
}   

.close > button{
    width: 100%;
    height: 100%;
    color: white;
    background-color:black;
    font-size: 2em;
}
.close>button:hover{
    background-color: #74BBFB;
    cursor: pointer;
}


div.content{

	grid-area: cont;

	background-color: black;

	display: grid;

	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;
	grid-template-areas:
		"page-title-next-button"
		"series-list";


}

div#page-title-next-button{

	grid-area: page-title-next-button;

	display: grid;

	grid-template-columns: 94% 6%;
	grid-template-rows: 100%;
	grid-template-areas:
		"page-title next-button";

	margin-right: 1%; 
	margin-left: 1%;

	align-items: center;
}

h1#page-title{

	grid-area: page-title;

	color: white;

	font-size: 1.5em;

	font-family: "Times New Roman", Times, serif;

	margin-left: 30%;
}

div.next-button{

	grid-area: next-button;

	font-size: 20px;

}


a.next-page-button{

	position: relative;

	color: #74BBFB;
	background-color: #282828;

	border-radius: 30px;

	float: left;

	height: 90%;
	width: 90%;

	display: flex;

	justify-content: center;
	align-items: center;

	text-decoration: none;

}


a.next-page-button:hover{

	background-color: #74BBFB;

	color: #282828;
}


div#series-list{

	grid-area: series-list;

	background-color: black;

	display: grid;

	grid-gap: 0% 0%;

	margin-left: 5%;

	grid-template-columns: 100%;
	grid-template-rows: 100%;
	grid-template-areas:
		"series-list-row-01";
}


div.series-list-row#series-list-row-01{

	grid-area: series-list-row-01;

	background-color: black;

	display: grid;

	grid-gap: 2% 2%;

	

	grid-template-columns: 200px 200px;
	grid-template-rows: 15% 15% 15% 15% 15% auto;
	grid-template-areas:
		"series-list-series-field-01 series-list-series-field-02"
		"series-list-series-field-03 series-list-series-field-04"
		"series-list-series-field-05 series-list-series-field-06"
		"series-list-series-field-07 series-list-series-field-08 "
		"series-list-series-field-09 series-list-series-field-10";

	margin-left: 2%;

}



div.series-list-series-field{


}



div.series-list-series-field#series-list-series-field-01{

	grid-area: series-list-series-field-01;

	display: inline-block;
  	position: relative;

}


div.series-list-series-field#series-list-series-field-02{

	grid-area: series-list-series-field-02;

}


div.series-list-series-field#series-list-series-field-03{

	grid-area: series-list-series-field-03;

}


div.series-list-series-field#series-list-series-field-04{

	grid-area: series-list-series-field-04;

}


div.series-list-series-field#series-list-series-field-05{

	grid-area: series-list-series-field-05;

}


div.series-list-series-field#series-list-series-field-06{

	grid-area: series-list-series-field-06;

}


div.series-list-series-field#series-list-series-field-07{

	grid-area: series-list-series-field-07;

}


div.series-list-series-field#series-list-series-field-08{

	grid-area: series-list-series-field-08;

}


div.series-list-series-field#series-list-series-field-09{

	grid-area: series-list-series-field-09;

}


div.series-list-series-field#series-list-series-field-10{

	grid-area: series-list-series-field-10;

}

img.series-list-series-img{

	position: relative;

	width: 100%;
	height: 100%;

	border-radius: 20px;
}


img.series-list-series-img:hover{

	opacity: 50%;

	cursor: pointer;

	transition-duration: 0.5s;

}


}